## Handling Imbalanced Dataset

1. Up Sampling
2. Down Sampling

In [10]:
import numpy as np
import pandas as pd

# Set the random seed for reproducibility
np.random.seed(123)

# Create a dataframe with two classes
n_samples = 1000                      # Total number of data points
class_0_ratio = 0.9                   # 90% of the samples will be class 0
n_class_0 = int(n_samples * class_0_ratio)  # Calculates number of class 0 samples = 900
n_class_1 = n_samples - n_class_0            # Remaining samples will be class 1 = 100

In [9]:
n_class_0,n_class_1

(900, 100)

In [ ]:
## CREATE MY DATAFRAME WITH IMBALANCED DATASET
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})



class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})


'''
class_0: You're generating Class 0, which is the majority class:

np.random.normal(0, 1, size=n_class_0): 
This generates 900 samples for feature_1 from a normal distribution with 
mean = 0 and standard deviation = 1. 
Similarly, feature_2 is also generated in the same way.

'target': [0] * n_class_0: 
This assigns 0 as the target value for all 900 samples in Class 0.

class_1: You're generating Class 1, which is the minority class:

np.random.normal(2, 1, size=n_class_1): 
This generates 100 samples for feature_1 from a normal distribution with 
mean = 2 and standard deviation = 1. 
Similarly, feature_2 is generated in the same way.

'target': [1] * n_class_1: 
This assigns 1 as the target value for all 100 samples in Class 1.'''

In [12]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [13]:
df.tail()

     feature_1  feature_2  target
995   1.376371   2.845701       1
996   2.239810   0.880077       1
997   1.131760   1.640703       1
998   2.902006   0.390305       1
999   2.697490   2.013570       1

In [14]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [15]:
## upsampling
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [17]:
!pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.6.1-cp312-cp312-win_amd64.whl.metadata (15 kB)
Requirement already satisfied: numpy>=1.19.5 in d:\data analyst\python\venv\lib\site-packages (from scikit-learn) (2.2.2)
Collecting scipy>=1.6.0 (from scikit-learn)
  Downloading scipy-1.15.2-cp312-cp312-win_amd64.whl.metadata (60 kB)
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.6.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.6.1-cp312-cp312-win_amd64.whl (11.1 MB)
   ---------------------------------------- 0.0/11.1 MB ? eta -:--:--
   ------- -------------------------------- 2.1/11.1 MB 10.7 MB/s eta 0:00:01
   ---------------- ----------------------- 4.5/11.1 MB 11.2 MB/s eta 0:00:01
   ------------------------ --------------- 6.8/11.1 MB 11.3 MB/s eta 0:00:01
   --------------------------------- ------ 9.4/11.1 MB 11.5 MB/s eta 0:00:01
   ---------------------------------------- 11.1/11.1 MB 11.2 MB/s eta 0:00:00
Downloading joblib-1.4.2-py3-none-any.whl (301 kB)
Downloading scipy-1.15.2-cp312-cp312-win_amd64.whl (40.9 MB)
   ---------------------------------------- 0.0/40.9 MB ? eta -:--:--
   -- ------------------------------------- 2.4/40.9 MB 12.2 MB/s eta 0:00:04
   ---- ----------------------------------- 4.7/40.9 MB 11.9 MB/s eta 0:00:04
   ------ --------------------------------- 7.1/40.9 MB 11.8 MB/s eta 0:00:03
   --------- ------------------------------ 9.4/40.9 MB 11.7 MB/s eta 0:00:03
   ----------- ---------------------------- 11.8/40.9 MB 11.7 MB/s eta 0:00:03
   ------------- -------------------------- 13.4/40.9 MB 10.9 MB/s eta 0:00:03
   ------------- -------------------------- 14.2/40.9 MB 10.6 MB/s eta 0:00:03
   -------------- ------------------------- 14.7/40.9 MB 9.5 MB/s eta 0:00:03
   -------------- ------------------------- 14.9/40.9 MB 8.8 MB/s eta 0:00:03
   --------------- ------------------------ 15.5/40.9 MB 7.9 MB/s eta 0:00:04
   --------------- ------------------------ 16.3/40.9 MB 7.2 MB/s eta 0:00:04
   ---------------- ----------------------- 16.8/40.9 MB 6.8 MB/s eta 0:00:04
   ----------------- ---------------------- 17.6/40.9 MB 6.6 MB/s eta 0:00:04
   ----------------- ---------------------- 18.1/40.9 MB 6.3 MB/s eta 0:00:04
   ------------------ --------------------- 19.1/40.9 MB 6.2 MB/s eta 0:00:04
   ------------------- -------------------- 19.9/40.9 MB 6.0 MB/s eta 0:00:04
   -------------------- ------------------- 21.2/40.9 MB 6.0 MB/s eta 0:00:04
   --------------------- ------------------ 22.3/40.9 MB 6.0 MB/s eta 0:00:04
   ----------------------- ---------------- 24.1/40.9 MB 6.0 MB/s eta 0:00:03
   ------------------------- -------------- 25.7/40.9 MB 6.1 MB/s eta 0:00:03
   -------------------------- ------------- 26.7/40.9 MB 6.1 MB/s eta 0:00:03
   -------------------------- ------------- 27.3/40.9 MB 6.0 MB/s eta 0:00:03
   --------------------------- ------------ 27.8/40.9 MB 5.9 MB/s eta 0:00:03
   --------------------------- ------------ 28.6/40.9 MB 5.7 MB/s eta 0:00:03
   ---------------------------- ----------- 29.4/40.9 MB 5.6 MB/s eta 0:00:03
   ----------------------------- ---------- 30.7/40.9 MB 5.6 MB/s eta 0:00:02
   ------------------------------- -------- 32.2/40.9 MB 5.7 MB/s eta 0:00:02
   --------------------------------- ------ 33.8/40.9 MB 5.8 MB/s eta 0:00:02
   ---------------------------------- ----- 35.7/40.9 MB 5.9 MB/s eta 0:00:01
   ------------------------------------ --- 37.5/40.9 MB 6.0 MB/s eta 0:00:01
   -------------------------------------- - 39.6/40.9 MB 6.1 MB/s eta 0:00:01
   ---------------------------------------- 40.9/40.9 MB 6.2 MB/s eta 0:00:00
Downloading threadpoolctl-3.6.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.4.2 scikit-learn-1.6.1 scipy-1.15.2 threadpoolctl-3.6.0

In [18]:
from sklearn.utils import resample
df_minority_upsampled=resample(df_minority,replace=True, #Sample With replacement
         n_samples=len(df_majority),
         random_state=42
        )

In [19]:
df_minority_upsampled.shape

(900, 3)

In [20]:
df_minority_upsampled.head()

     feature_1  feature_2  target
951   1.125854   1.843917       1
992   2.196570   1.397425       1
914   1.932170   2.998053       1
971   2.272825   3.034197       1
960   2.870056   1.550485       1

In [21]:
df_upsampled=pd.concat([df_majority,df_minority_upsampled])

In [22]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

## Down Sampling

In [15]:
import pandas as pd

# Set the random seed for reproducibility
np.random.seed(123)

# Create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

df = pd.concat([class_0, class_1]).reset_index(drop=True)

# Check the class distribution
print(df['target'].value_counts())

0    900
1    100
Name: target, dtype: int64

In [16]:
## downsampling
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [ ]:
from sklearn.utils import resample
df_majority_upsampled=resample(df_minority,replace=True, #Sample With replacement
         n_samples=len(df_majority),
         random_state=42
        )