## Data Types in Python

In [ ]:
## Integer Data type

age = 35
type(age)

int

In [2]:
## Floating point Data type

height = 5.6
print(height)
print(type(height))

5.6
<class 'float'>

In [14]:
## Boolean Data type

type(True)

bool

In [15]:
a = 10
b = 10
print(a==b)
print(type(a==b))

True
<class 'bool'>

In [16]:
## Complex Data type

a =  1+10j
print(type(a))

<class 'complex'>

## Sequence Data Type
String,
List,
Tuple

In [17]:
## String Data type

name = "Hemant"
print(name)
print(type(name))

Hemant
<class 'str'>

In [ ]:
## Indexing in String Data type

s = "Hemant Sonbarse"

# Retrieves characters from index 1 to 3
print(s[1:4])  

# Retrieves characters from beginning to index 2
print(s[:3])   

# Retrieves characters from index 3 to the end
print(s[3:])   

# Reverse a string
print(s[::-1])

ema
Hem
ant Sonbarse
esrabnoS tnameH

In [18]:
## List Data type

a = [1,2,2,3]
print(type(a))

<class 'list'>

In [19]:
# Initialize an empty list
a = [1]

# Adding 10 to end of list
a.append(10)  
print (a)  

# Inserting 5 at index 0
a.insert(0, 5)
print( a) 

# Adding multiple elements  [15, 20, 25] at the end
a.extend([15, 20, 25])  
print( a)

[1, 10]
[5, 1, 10]
[5, 1, 10, 15, 20, 25]

In [20]:
a = [10, 20, 30, 40, 50]

# Removes the first occurrence of 30
a.remove(30)  
print( a)

# Removes the element at index 1 (20)
popped_val = a.pop(1)  
print("Popped element:", popped_val)  
print("After pop(1):", a) 

# Deletes the first element (10)
del a[0]  
print("After del a[0]:", a)

[10, 20, 40, 50]
Popped element: 20
After pop(1): [10, 40, 50]
After del a[0]: [40, 50]

In [21]:
## Tuple Data type

# Creating an empty Tuple
Tuple1 = ()
print("Initial empty Tuple: ")
print(Tuple1)

# Creating a Tuple
# with the use of string
Tuple1 = ('Geeks', 'For')
print("\nTuple with the use of String: ")
print(Tuple1)

# Creating a Tuple with
# the use of list
list1 = [1, 2, 4, 5, 6]
print("\nTuple using List: ")
print(tuple(list1))

# Creating a Tuple
# with the use of built-in function
Tuple1 = tuple('Geeks')
print("\nTuple with the use of function: ")
print(Tuple1)

Initial empty Tuple:
()

Tuple with the use of String:
('Geeks', 'For')

Tuple using List:
(1, 2, 4, 5, 6)

Tuple with the use of function:
('G', 'e', 'e', 'k', 's')

In [ ]:
#Errors in Data type

result = "Hello" + 6
print(result)

TypeError: can only concatenate str (not "int") to str

In [12]:
result = "Hello" + str(6)
print(result)

Hello6